/* nav {
    display: flex;
    width: 100%;
    height: 15vh;
    background: linear-gradient(rgba(0,0,0,.9), rgba(15, 14, 14, 0.9)), url(./img/bgpıcwelcome.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
} */
.menuLay{
	object-fit: cover;
	height: 100%;
	width: 100%;
	filter: brightness(100%);
	
}
img{
	pointer-events: none;
	
}
/* menu sayfası nav etıketı  */
.hed{
	
	height: 85px;
	width: 100%;
	position: fixed;
	top: 0;
	overflow: hidden;
	z-index: 990;




}

/* nav::after {
    content: normal; 
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(3, 3, 0, 0.8); 
} */

.fix{
	box-sizing: border-box;
	display: flex;
	padding: 0 15px;
	padding-top: 0px;
	padding-right: 15px;
	padding-bottom: 0px;
	padding-left: 15px;
	align-items: center;
	justify-content: center;

	position: absolute;
	flex-direction: row;
	top: 0;
	left: 0;
	height: 100%;
	will-change: 100%;
	color: #ffff;
	font-size: 2em;
}

body {
    background-color: #ffff;
}

/* img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    padding: 0%;
    margin: 0%;
} */

p {
    text-align: center;
    font-family: "Anta", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.btn {
    display: flex;
    width: 100%;
    background-color: #222222 !important;
    color: #ffff !important;
    text-align: center;
    justify-content: center;
    padding: 10px;
    text-decoration: none !important;
}

.btn:hover {
    background-color: #C49E4D !important;
}


.card-header {
    background-color: white !important;
    padding: 5px;
}

.fa-solid {
    margin-left: auto;
}

hr {
    width: 70%;
    border: 2px solid #C4934D; 
}
   /* CAR YAPIININ AYARLARI BURADA YAPILDI */
.card-body {
	
    margin-bottom: 3px;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.45) inset;	
	border: none !important;

}


.price {
    color: black;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background: linear-gradient(100deg, rgba(115, 123, 103, 0.7) 50%, transparent);
    bottom: 20px; 
    right: 20px;
    justify-content: center;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    padding: 5px;
    font-weight: 700;
    font-size: x-large;
    width: 120px;
    z-index: 999; 
}

.fa-turkish-lira-sign {
    padding: 3px;
}

.mt-0 {
    text-align: center;
    font-family: "Anta", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.extralarBaslik {
    text-align: center;
    font-family: "Anta", sans-serif;
    font-weight: 800;
    font-style: normal;
    margin-top: 50px;
}

.extralarHr {
    margin-top: 20px;
    width: 70%;
    border: 1px solid #0f0d0b; 
}

.extralarContainer div {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.container-lg{
	padding-top: 100px !important;
	
}